<mat-sidenav-container class='app-drawer-container' fullscreen>
    <mat-sidenav #sidenav mode="side" #left position="start" opened>
        <ng-container *ngTemplateOutlet="sidenavleft"></ng-container>
    </mat-sidenav>
    <mat-sidenav #sidenav mode="side" #right position="end" opened>
        <h3>Sentiment Analysis</h3>
    </mat-sidenav>
    <mat-sidenav-content class="app-content">

        <router-outlet></router-outlet>
        
    </mat-sidenav-content>
</mat-sidenav-container>  

<ng-template #sidenavleft>
    <!-- <prefab-list [pairs$]="pairs$ | async" [selectedPair]="selectedPair" [open]="true">
    </prefab-list> -->
</ng-template>

<footer fxLayoutAlign="center end">
<button class="button"><mat-icon>keyboard_arrow_down</mat-icon></button>
</footer>