/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme-warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  )
));
@include mat.all-component-themes($theme);
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '@angular/cdk/overlay-prebuilt.css';
// @import "~@angular/cdk/overlay";
// @include cdk-overlay();
@include mat.core();
* {
  font-family: Lato, 'Fira Code', Roboto;
}

$color-primary: #4571c4;

html,
body {
  font-family: Helvetica, sans-serif;
  height: 100%;
}
body {
  background: #0f0f0f;
  margin: 0 auto !important;
  height: 100%;
  text-align: center;
  color: #fff;
}
.ag-theme-quartz {
  --ag-background-color: #ddd;
}
.ag-theme-quartz .ag-header-cell-label {
  font-style: italic;
}
a:link, a:visited, a:hover, a:active, a:-webkit-any-link {
  color: #fff !important;
}
div {
  text-align: center;
  height: 100%; 
  box-sizing: border-box;
}
.ag-theme-quartz-dark .ag-root-wrapper {
  border: 0;
}
.ag-theme-quartz-dark  > .ag-root-wrapper {
  border: 0;
}
.ag-theme-quartz-dark  {
  &.ag-root-wrapper {
    border: 0;
  }
}
.ag-root-wrapper,
.ag-layout-normal,
.ag-ltr {
  border: 0;
}
button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
// ::ng-deep .cdk-overlay-container:has(.my-dialog-panel), .modal-container, .modal-container .mat-dialog-container { 
//   z-index: 1000 !important;
//   position: fixed !important; 
//   top: 0; 
//   left: 0; 
//   width: 100%; 
//   height: 100%; 
// }
// .modal-backdrop-class, ::ng-deep .modal-backdrop-class {
//   background-color:rgba(0, 0, 0, .6) !important;
// }
/* Add application styles & imports to this file! */

// Overlay backdrop styling
.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

// Overlay panel styling
.overlay-panel {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
}

// General button styling
button {
  background-color: $color-primary;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}
.cdk-overlay-container {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}